.boardsPanel {
  border-right: 2px solid black;
  height: inherit;
  width: 15%;
}

.boardsPanel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.boardsPanel > hr {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #8b8b8b;
}

.boardsPanelHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin: 5%;
  user-select: none;
}

.boardsPanelHeader > span {
  font-size: larger;
  font-weight: 700;
}
.boardsPanelHeader > button {
  display: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}
.boardsPanelHeader > button :hover {
  color: #32ad32;
}

.boardsPanelItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}
