.boardControlPanel {
  border-right: 2px solid black;
  height: inherit;
  width: 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin: 5%;
}

.header > span {
  font-size: larger;
  font-weight: 700;
}

.boardControlPanel > hr {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #8b8b8b;
}

.boardControlPanel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ControlPanelItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.boardControlPanelItems :hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a8a8a8;
}
